@font-face {
  font-family: "iconfont"; /* Project id 4764958 */
  src: url('iconfont.woff2?t=1732874079989') format('woff2'),
       url('iconfont.woff?t=1732874079989') format('woff'),
       url('iconfont.ttf?t=1732874079989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-yonghu1:before {
  content: "\e69f";
}

.icon-yonghu2:before {
  content: "\e63c";
}

.icon-yonghu3:before {
  content: "\e6f2";
}

